<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class='green lighten-1'>
    <div style="padding-left: 40px;" class='nav-wrapper'>
        <a href='#' class='brand-logo'>Aloe</a>
        <ul id='nav-mobile' class='left hide-on-small-and-down'>
            <li><a href='../Views/overview.html'>Overview</a></li>
            <li><a href='../Views/transactions.html'>Transactions</a></li>
            <li><a href=''>Budget</a></li>
        </ul>
        <a href='../Views/settings.html'><i class="right material-icons" style='margin-right:20px'>settings</i></a>
    </div>
</nav>