<nav class='navbar navbar-toggleable-md navbar-light bg-faded'>
    <button class='navbar-toggler navbar-toggler-right' type='button' data-toggle='collapse' data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class='navbar-brand' href='#'>
        <!-- Include img here -->
        Aloe
    </a>
    <div class='collapse navbar-collapse' id='navbar'>
        <div class='navbar-nav'>
            <a class='nav-item nav-link' target='_parent' href='../Overview/index.html'>Home</a>
            <a class='nav-item nav-link active' target='_parent' href='../Settings/settings.html'>Settings</a>
            <a class='nav-item nav-link active' href='../Transactions/index.html'>Transactions</a>
        </div>
    </div>
</nav>