<!DOCTYPE html>
<html lang='en'>
  
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <title>Overview</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../Styles/app.css'>
  </head>

  <body>
    <nav class='navbar navbar-toggleable-md navbar-light bg-faded'>
        <button class='navbar-toggler navbar-toggler-right' type='button' data-toggle='collapse' data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class='navbar-brand' href='#'>
            <!-- Include img here -->
            Aloe
        </a>
        <div class='collapse navbar-collapse' id='navbar'>
            <div class='navbar-nav'>
                <a class='nav-item nav-link active' href='#'>Home</a>
                <a class='nav-item nav-link' href='settings.html'>Settings</a>
            </div>
        </div>
    </nav>

    <div class='container'>
        OVERVIEW
    </div>

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src='https://code.jquery.com/jquery-3.1.1.slim.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
    <script>if (window.module) module = window.module;</script>
  </body>

</html>