<!DOCTYPE html>
<html lang='en'>
  
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <title>Overview</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../Styles/app.css'>
  </head>

  <body>
    <nav class='navbar navbar-toggleable-md navbar-light bg-faded'>
        <button class='navbar-toggler navbar-toggler-right' type='button' data-toggle='collapse' data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class='navbar-brand' href='#'>
            <!-- Include img here -->
            Aloe
        </a>
        <div class='collapse navbar-collapse' id='navbar'>
            <div class='navbar-nav'>
                <a class='nav-item nav-link active' href='#'>Home</a>
                <a class='nav-item nav-link' href='settings.html'>Settings</a>
                <a class='nav-item nav-link ' href='transactions.html'>Transactions</a>
            </div>
        </div>
    </nav>

    <div class='container'>
        <div>
            <div class="card">
                <div class="card-header">
                    Overhead
                </div>
                <div class="card-body">
                    <div id="credit-overview">
                        <canvas id="overview-chart-account"></canvas>
                    </div>
                    <div id="debit-overview">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript'>window.$ = window.jQuery = require('jquery');</script>
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>

    <script type="text/javascript">
        $.get('http://localhost:5000/api/overview', function(response) {
            if (response) {
                var accountIndex = {};
                var dataByAccount = [];
                var labelsByAccount = [];
                var backgroundColorsByAccount = [];

                $.each(response, function(index, obj) {
                    if (!accountIndex[obj.Account]) {
                        accountIndex[obj.Account] = Object.keys(accountIndex).length;

                        dataByAccount.push(obj.Amount);
                        labelsByAccount.push(obj.Account);
                    }
                }); 

                $.each(dataByAccount, function(index, obj) {
                    backgroundColorsByAccount.push(rainbow(dataByAccount.length, index));
                });

                var chartContext = document.getElementById('overview-chart-account').getContext('2d');
                var overviewChartByAccount = new Chart(chartContext, {
                    type: 'pie',
                    data: {
                        datasets: [{
                            label: 'Account Overview',
                            data: dataByAccount,
                            backgroundColor: backgroundColorsByAccount
                        }],
                        labels: labelsByAccount
                    }
                });
            }
        });

        function rainbow(numOfSteps, step) {
            // This function generates vibrant, "evenly spaced" colours (i.e. no clustering). This is ideal for creating easily distinguishable vibrant markers in Google Maps and other apps.
            // Adam Cole, 2011-Sept-14
            // HSV to RBG adapted from: http://mjijackson.com/2008/02/rgb-to-hsl-and-rgb-to-hsv-color-model-conversion-algorithms-in-javascript
            var r, g, b;
            var h = step / numOfSteps;
            var i = ~~(h * 6);
            var f = h * 6 - i;
            var q = 1 - f;
            switch(i % 6){
                case 0: r = 1; g = f; b = 0; break;
                case 1: r = q; g = 1; b = 0; break;
                case 2: r = 0; g = 1; b = f; break;
                case 3: r = 0; g = q; b = 1; break;
                case 4: r = f; g = 0; b = 1; break;
                case 5: r = 1; g = 0; b = q; break;
            }
            var c = "#" + ("00" + (~ ~(r * 255)).toString(16)).slice(-2) + ("00" + (~ ~(g * 255)).toString(16)).slice(-2) + ("00" + (~ ~(b * 255)).toString(16)).slice(-2);
            return (c);
        }
    </script>
  </body>

</html>