<!DOCTYPE html>

<html>

<head>
    <meta charset='UTF-8'>

    <link type='text/css' rel='stylesheet' href='../assets/css/materialize.css' media='screen,projection'/>

    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>

    <title>Aloe</title>
</head>

<body>

    <ng-include src="'../Components/navbar.html'"></ng-include>

</body>

<div class='container' ng-controller='SettingsController as controller'>
    <div class='row'>
        <div class='col s12'>
            <div class='card'>
                <div class='card-image'>
                    <a class='btn-floating halfway-fab btn-large waves-effect waves-light deep-orange accent-2 modal-trigger' href='#createAccount'><i class='material-icons'>add</i></a>
                    <div class='green lighten-1' style='height:100px'></div>
                    <span class='card-title'>Accounts</span>
                </div>
                <div class='card-content'>
                    <table class='highlight'>
                        <tbody>
                            <tr ng-repeat='Account in Accounts'>
                                <td>
                                    {{Account.Name}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id='createAccount' class='modal'>
        <div class='modal-content'>
            TEST TEST TEST TEST
        </div>
        <div class='modal-footer'>

        </div>
    </div>
</div>

<script type='text/javascript' src='../node_modules/angular/angular.js'></script>
<script type='text/javascript' src='../app.js'></script>
<script>window.$ = window.jQuery = require('jquery');</script>
<script>window.Hammer = require('hammerjs');</script>
<script type="text/javascript" src="../assets/js/materialize.js"></script>

<script type='text/javascript'>
    $(document).ready(function() {
        $('.modal').modal();
    });
</script>

</html>