<!DOCTYPE html>
<html lang='en'>
  
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <title>Overview</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../Styles/app.css'>
  </head>

  <body>
    <nav class='navbar navbar-toggleable-md navbar-light bg-faded'>
        <button class='navbar-toggler navbar-toggler-right' type='button' data-toggle='collapse' data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class='navbar-brand' href='#'>
            <!-- Include img here -->
            Aloe
        </a>
        <div class='collapse navbar-collapse' id='navbar'>
            <div class='navbar-nav'>
                <a class='nav-item nav-link' href='overview.html'>Home</a>
                <a class='nav-item nav-link active' href='#'>Settings</a>
                <a class='nav-item nav-link active' href='transactions.html'>Transactions</a>
            </div>
        </div>
    </nav>

    <div class='container'>
        <h1>Settings</h1>

        <div class='card'>
            <h4 class='card-header'>
                Accounts
                <button type='button' class='btn btn-primary float-right' data-toggle='modal' data-target='#addAccountModal'>Add</button>
            </h4>
            <ul class='list-group list-group-flush' id='accounts'>
            </ul>
        </div>

        <div class='modal fade' id='addAccountModal' tabindex='-1' role='dialog' aria-hidden='true'>
            <div class='modal-dialog' role='document'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <h3 class='modal-title'>Add Account</h3>
                        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                            <span aria-hidden='true'>&times;</span>
                        </button>
                    </div>
                    <div class='modal-body'>
                        <form id='account-form'>
                            <div class='form-group'>
                                <label for='enter-account'>Account Name</label>
                                <input type='text' class='form-control' id='enter-account' placeholder='Enter Name'/>
                            </div>
                            <div class='form-group'>
                                <input class='form-check-input' type='checkbox' value='' id='is-credit'>
                                <label class='form-check-label' for='is-credit'>
                                    Is Credit Account?
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class='modal-footer'>
                        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
                        <button type='button' id='save' class='btn btn-primary'>Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript'>window.$ = window.jQuery = require('jquery');</script>
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>

    <script type='text/javascript'>
        $(function() {
            populateAccountList();

            $('#save').click(function() {
                $.post('http://localhost:5000/api/account/create', 
                    { 
                        name: $('#enter-account').val(),
                        isCredit: $('#is-credit').is(':checked')
                    }, function() {
                        $('.modal').modal('hide');
                        populateAccountList();
                });
            })
        });

        function populateAccountList() {
            $.get('http://localhost:5000/api/account', function(accounts) {
                $('#accounts').empty();
                $(accounts).each(function(index, account) {
                    $('#accounts').append(
                        '<li id="account' + account.Id + '" class="list-group-item"> \
                            <div style="width:100%">' 
                                + account.Name +
                                '<span style="float:right; cursor:pointer;" onclick="removeAccount(this)"> \
                                    &times; \
                                </span> \
                            </div> \
                        </li>'
                    );
                });
            });
        }

        function removeAccount(element) {
            var accountId = $(element).parent().parent()[0].id.split('account')[1];
            $.post('http://localhost:5000/api/account/remove', { id: accountId }, function() {
                $(element).parent().parent().remove();
            });
        }

    </script>
  </body>

</html>