<!DOCTYPE html>

<html>

<head>
    <meta charset='UTF-8'>

    <link type='text/css' rel='stylesheet' href='../assets/css/materialize.css' media='screen,projection'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>

    <title>Aloe</title>

    <style>
        .material-icons {
            line-height: 1.75;
            vertical-align: middle;
        }

        th {
            cursor: pointer;
            padding-top: 0px;
            padding-bottom: 0px;
        }

        tbody tr, td {
            cursor: pointer;
            padding: 0px;
        }

        li {
            list-style:none;
        }

        td, th {
            width: 20%;
            text-align: center;
        }

        .collapsible {
            margin: 0px;
        }

        .collapsible-header {
            padding-left: 0px;
            padding-right: 0px;
        }

        th.table-search {
            height: 2rem;
        }

    </style>
</head>

<body>  

    <ng-include src="'../Components/navbar.html'"></ng-include>
    <div class='container' ng-controller='TransactionsController as controller'>
        <div class='col s12'>
            <div class='row'>
                <h1 class='col s6'>{{controller.Title}}</h1>
            </div>
            <div class='row'>
                <div class='col s8'></div>
                <div class='input-field col s4'>
                    <i class='material-icons prefix'>search</i>
                    <input id='global-search-input' ng-model='search.$' type='text' class='validate'/>
                    <label for='global-search-input'>Search All</label>
                </div>
            </div>
        </div>
        <p style='color: red' ng-show='controller.ErrorMessage'>{{controller.ErrorMessage}}</p>
        <table class="highlight">
            <thead>
                <tr>
                    <th style='min-width: 80px;' ng-click='sortBy("EffectiveDate")'>
                        Transaction Date
                        <i class='material-icons prefix' ng-show='sortParameter === "EffectiveDate" && !reverseSort'>arrow_drop_down</i>
                        <i class='material-icons prefix' ng-show='sortParameter === "EffectiveDate" && reverseSort'>arrow_drop_up</i>
                    </th>
                    <th style='min-width: 80px;' ng-click='sortBy("Account")'>
                            Account
                            <i class='material-icons prefix' ng-show='sortParameter === "Account" && !reverseSort'>arrow_drop_down</i>
                            <i class='material-icons prefix' ng-show='sortParameter === "Account" && reverseSort'>arrow_drop_up</i>
                        </th>
                    <th style='min-width: 80px;' ng-click='sortBy("Description")'>
                        Description
                        <i class='material-icons prefix' ng-show='sortParameter === "Description" && !reverseSort'>arrow_drop_down</i>
                        <i class='material-icons prefix' ng-show='sortParameter === "Description" && reverseSort'>arrow_drop_up</i>
                    </th>
                    <th style='min-width: 80px;' ng-click='sortBy("Category")'>
                        Category
                        <i class='material-icons prefix' ng-show='sortParameter === "Category" && !reverseSort'>arrow_drop_down</i>
                        <i class='material-icons prefix' ng-show='sortParameter === "Category" && reverseSort'>arrow_drop_up</i>
                    </th>
                    <th style='min-width: 80px;' ng-click='sortBy("Amount")'>
                        Amount
                        <i class='material-icons prefix' ng-show='sortParameter === "Amount" && !reverseSort'>arrow_drop_down</i>
                        <i class='material-icons prefix' ng-show='sortParameter === "Amount" && reverseSort'>arrow_drop_up</i>
                    </th>
                </tr>
                <tr>
                    <th class='table-search'>
                        <div class='input-field'>
                            <i class='material-icons prefix'>search</i>
                            <input id='search-first-column' type='text' ng-model='search.EffectiveDate' class='validate'/>
                            <label for='search-first-column'>{{columnSearchText}}</label>
                        </div>
                    </th>
                    <th class='table-search'>
                        <div class='input-field'>
                            <i class='material-icons prefix validate'>search</i>
                            <input id='search-second-column' type='text' ng-model='search.Account'/>
                            <label for='search-second-column'>{{columnSearchText}}</label>
                        </div>
                    </th>
                    <th class='table-search'>
                        <div class='input-field'>
                            <i class='material-icons prefix validate'>search</i>
                            <input id='search-third-column' type='text' ng-model='search.Description'/>
                            <label for='search-third-column'>{{columnSearchText}}</label>
                        </div>  
                    </th>
                    <th class='table-search'>
                        <div class='input-field'>
                            <i class='material-icons prefix validate'>search</i>
                            <input id='search-fourth-column' type='text' ng-model='search.Category'/>
                            <label for='search-fourth-column'>{{columnSearchText}}</label>
                        </div>
                    </th>
                    <th class='table-search'>
                        <div class='input-field'>
                            <i class='material-icons prefix validate'>search</i>
                            <input id='search-fifth-column' type='text' ng-model='search.Amount'/>
                            <label for='search-fifth-column'>{{columnSearchText}}</label>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='trn in controller.Transactions | orderBy:sortParameter:reverseSort | filter:search'>
                    <td colspan='5'>
                        <div class="collapsible" data-collapsible="accordion">
                            <!-- Materialize collapsible requires an <li> element to function -->
                            <li>
                                <div class="collapsible-header">
                                    <table>
                                        <tr>
                                            <td>{{trn.EffectiveDate}}</td>
                                            <td>{{trn.Account}}</td>
                                            <td>{{trn.Description}}</td>
                                            <td>{{trn.Category}}</td>
                                            <td>{{trn.Amount | currency}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="collapsible-body">
                                    Blah blah blah extra stuff.
                                    Adding some space to see it really accordion.
                                    How about more?
                                </div>
                            </li>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script type='text/javascript' src='../node_modules/angular/angular.js'></script>
<script type='text/javascript' src='../app.js'></script>

<script type="text/javascript" src="../assets/js/bin/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../assets/js/bin/materialize.min.js"></script>
<script>if (window.module) module = window.module;</script>

<script type='text/javascript'>
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>

</html>