<!DOCTYPE html>

<html>

<head>
    <meta charset='UTF-8'>

    <link type='text/css' rel='stylesheet' href='../assets/css/materialize.css' media='screen,projection'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>

    <title>Aloe</title>
</head>

<body>  

    <ng-include src="'../Components/navbar.html'"></ng-include>
    <div class='container' ng-controller='TransactionsController as controller'>
        
        <h1>{{controller.Title}}</h1>
        <p style='color: red' ng-show='controller.ErrorMessage'>{{controller.ErrorMessage}}</p>
        <table>
            <thead>
                <tr>
                    <th style='min-width: 80px;'>Transaction Date</th>
                    <th style='min-width: 80px;'>Description</th>
                    <th style='min-width: 80px;'>Category</th>
                    <th style='min-width: 80px;'>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='trn in controller.Transactions | orderBy:sortParameter:reverseSort'>
                    <td>{{trn.EffectiveDate}}</td>
                    <td>{{trn.Description}}</td>
                    <td>{{trn.Category}}</td>
                    <td>{{trn.Amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<script type='text/javascript' src='../node_modules/angular/angular.js'></script>
<script type='text/javascript' src='../app.js'></script>

<ng-include src="'../Components/scripts.html'"></ng-include>

</html>